article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  background: tomato;
  font-family: 'Anonymous Pro', monospace;
  font-size: 20px;
  scroll-behavior: smooth; }

img {
  width: 100%;
  max-width: 800px; }

header,
.questionPage,
.resultPage {
  height: 100vh; }

button {
  background: orangered;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 30px; }

button:hover {
  background: hotpink; }

button:active,
button:focus {
  background: #ffb20c; }

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 4s both;
  animation: wobble-hor-bottom 4s both; }

/* ----------------------------------------------
    * Generated by Animista on 2019-5-25 19:20:36
    * w: http://animista.net, t: @cssanimista
    * ---------------------------------------------- */
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }
@keyframes wobble-hor-bottom {
  0%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg); }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg); }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg); }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg); }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg); } }

header {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.title {
  width: 70%;
  height: 90vh;
  background: lightsalmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  .title h1 {
    margin: 0;
    font-family: 'Francois One', sans-serif;
    font-size: 200px;
    line-height: 200px;
    color: tomato;
    margin-top: 50px; }
    .title h1 .a {
      color: orangered; }
    .title h1 .p {
      color: #ff890c; }
    .title h1 .h {
      color: hotpink; }
    .title h1 .r {
      color: orangered; }
  .title .fiveOClock {
    color: orangered;
    margin-top: 30px; }
  .title .thirsty {
    margin-bottom: 30px; }
  .title .image1 {
    position: absolute;
    width: 300px;
    right: -110px;
    bottom: 150px; }

.questionPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .questionPage h2 {
    font-family: 'Francois One', sans-serif;
    font-size: 80px;
    text-align: center;
    margin: 50px 0;
    color: #ffb20c;
    text-shadow: 7px 7px 0px orangered; }
    .questionPage h2 .hard {
      color: lightpink; }
  .questionPage .image2 {
    width: 200px;
    margin-bottom: 50px; }
  .questionPage .warning {
    opacity: 0;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #ffb20c;
    padding-bottom: 15px; }
  .questionPage .opacity {
    opacity: 1; }
  .questionPage .questionSection {
    width: 80%;
    height: 300px;
    background: lightsalmon;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .questionPage form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .questionPage .makeMe {
    margin-bottom: 50px; }
  .questionPage label {
    margin-bottom: 20px; }
  .questionPage .q1, .questionPage .q2, .questionPage .q3, .questionPage .q4 {
    margin: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .questionPage .q1 label, .questionPage .q2 label, .questionPage .q3 label, .questionPage .q4 label {
      color: orangered; }
  .questionPage .q2 label, .questionPage .q4 label {
    color: deeppink; }

.resultPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

h3 {
  font-family: 'Francois One', sans-serif;
  font-size: 60px;
  color: #ffb20c;
  text-shadow: 7px 7px 0px orangered;
  text-transform: uppercase;
  text-align: center; }

.resultContainer {
  width: 80%;
  height: 70vh;
  background: lightsalmon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px; }
  .resultContainer .image3 {
    width: 300px; }

.resultText {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .resultText .theDrink {
    font-family: 'Francois One', sans-serif;
    font-size: 40px;
    color: orangered;
    margin-bottom: 0; }
  .resultText .instructions {
    color: deeppink;
    max-width: 600px;
    font-size: 18px; }
  .resultText .ingredientList {
    list-style: none;
    margin-top: 0;
    padding-left: 0; }
    .resultText .ingredientList li {
      color: orangered;
      font-size: 18px; }

.tryAgain {
  margin-bottom: 50px;
  margin-top: 0px; }

footer p {
  background: orangered;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #f3f3f3;
  font-size: 16px; }

@media (max-width: 1190px) {
  .questionPage .image2 {
    width: 150px;
    margin-bottom: 50px; } }

@media (max-width: 900px) {
  .title .image1 {
    width: 250px; }
  .title h1 {
    font-size: 150px;
    line-height: 150px; }
  .questionPage h2 {
    font-size: 60px;
    line-height: 60px; }
  .resultText .instructions {
    padding-right: 30px; } }

@media (max-width: 700px) {
  .title {
    height: 80vh; }
  .title h1 {
    font-size: 125px;
    line-height: 125px; }
  .title .image1 {
    display: none; }
  .questionPage .q1,
  .questionPage .q2,
  .questionPage .q3,
  .questionPage .q4 {
    margin: 0 15px;
    font-size: 18px; }
  h3 {
    font-size: 40px; }
  .resultContainer {
    height: 75vh; }
  .resultName .theDrink {
    font-size: 25px; }
  .resultText .instructions {
    font-size: 16px; } }

@media (max-width: 600px) {
  .questionPage h2 {
    font-size: 50px; }
  .questionPage form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .questionPage .image2 {
    display: none; }
  .questionPage .questionSection {
    height: 60vh;
    width: 70%; }
  .questionPage .q1,
  .questionPage .q2,
  .questionPage .q3,
  .questionPage .q4 {
    margin-bottom: 25px; }
  .questionPage .q1 {
    margin-top: 25px; }
  .resultText {
    padding-right: 20px; }
  footer p {
    font-size: 13px; } }

@media (max-width: 500px) {
  .title {
    width: 80%;
    height: 70vh; }
  .title h1 {
    font-size: 90px;
    line-height: 90px; }
  .questionPage h2 {
    font-size: 40px;
    line-height: 50px; }
  .resultContainer .image3 {
    display: none; }
  .resultText {
    width: 80%;
    padding-right: 0; }
  .resultText .instructions {
    padding-right: 0; } }

@media (max-width: 400px) {
  .title {
    height: 60vh; }
  .title h1 {
    font-size: 80px;
    line-height: 80px; }
  .title .fiveOClock {
    width: 250px; }
  .questionPage h2 {
    width: 300px; }
  h3 {
    width: 300px;
    text-align: center; } }
