@import "_partials/_setup.scss";


body {
    background: tomato;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    max-width: 800px;
}

header,
.questionPage,
.resultPage {
    height: 100vh;
}

button {
    background: orangered;
    color: white;
    border: none;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
}

//FIRST PAGE

header { 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    width: 70%;
    height: 90vh;
    background: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    h1 {
        margin: 0;
        font-family: 'Francois One', sans-serif;
        font-size: 200px;
        line-height: 200px;
        color: tomato;
        margin-top: 50px;
        .a {
            color: orangered;
        }
        .p {
            color: #ff890c;
        }
        .h {
            color: hotpink;
        }
        .r {
            color: orangered;
        }
    }
    .fiveOClock {
        color: orangered;
        margin-top: 30px;
    }
    .thirsty {
        margin-bottom: 30px;
    }
    .image1 {
        position: absolute;
        width: 300px;
        right: -110px;
        bottom: 150px;
    } 
    
}

//SECOND PAGE

.questionPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        margin-top: 0;
        font-family: 'Francois One', sans-serif;
        font-size: 80px;
        text-align: center;
        margin: 50px 0;
        color: #ffb20c;
        text-shadow: 7px 7px 0px orangered;
        .hard {
            color: lightpink;
        }
    }
    .image2 {
        width: 200px;
        margin-bottom: 50px;
    }
    .questionSection {
        width: 80%;
        height: 300px;
        background: lightsalmon;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    form{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .makeMe {
        margin-bottom: 50px;
    }
    label {
        margin-bottom: 20px;
    }
    .q1, .q2, .q3, .q4 {
        margin: 0 25px;
        display: flex;
        flex-direction: column-reverse;
        label {
            color: orangered;
        }
    }
    .q2, .q4 {
        label {
            color: deeppink;
        }
    }

}

//THIRD PAGE 

.resultPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h3 {
    font-family: 'Francois One', sans-serif;
    font-size: 60px;
    color: #ffb20c;
    text-shadow: 7px 7px 0px orangered;
    text-transform: uppercase;
}

.resultContainer {
    width: 80%;
    height: 70vh;
    background: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    .image3 {
        width: 300px;
    }

    .cocktail,
    .mocktail {
        color: orangered;
    }
}
.resultText {
    width: 70%;
    display: flex;
    flex-direction: column;
    .theDrink {
        font-family: 'Francois One', sans-serif;
        font-size: 40px;
        color: orangered;
        margin-bottom: 0;
    }
    .instructions  {
        color: deeppink;
        max-width: 600px;
        font-size: 18px;
    }
    .ingredientList {
        list-style: none;
        margin-top: 0;
        padding-left: 0;
        
        li {
            color: orangered;
            font-size: 18px;
        }
    }
    
}

// media queries

@media (max-width: 1190px) {
    .questionPage .image2 {
        width: 150px;
        margin-bottom: 50px;
    }
}
@media (max-width: 900px) {
    .title .image1 {
        width: 250px;
    }
    .title h1 {
        font-size: 150px;
        line-height: 150px;
    }
    .questionPage h2 {
        font-size: 60px;
        line-height: 60px;
    }
    .resultText .instructions {
        padding-right: 30px;
    }    
}


@media (max-width: 700px) {
    .title {
        height: 80vh;
    }
    .title h1{
    font-size: 125px;
    line-height: 125px;
    }
    .title .image1 {
        display: none;
    }
    .questionPage .q1,
    .questionPage .q2, 
    .questionPage .q3, 
    .questionPage .q4 {
        margin: 0 15px;
        font-size: 18px;
    }
    h3 {
        font-size: 40px;
    }
    .resultContainer {
        height: 75vh;
    }
    .resultName .theDrink {
        font-size: 25px;
    }

    .resultText .instructions {
        font-size: 16px;
    }

}

@media (max-width: 600px) {
    .questionPage h2 {
        font-size: 50px;
    }
    .questionPage form {
        flex-direction: column;
    }
    .questionPage .image2 {
        display: none;
    }
    .questionPage .questionSection {
        height: 60vh;
        width: 70%;
    }
    .questionPage .q1,
    .questionPage .q2, 
    .questionPage .q3, 
    .questionPage .q4 {
        margin-bottom: 25px;
    }
    .questionPage .q1 {
        margin-top: 25px;
    }
    .resultText {
        padding-right: 20px;
    }
}

@media (max-width: 500px) {
    .title {
        width: 80%;
        height: 70vh;
    }
    .title h1 {
        font-size: 90px;
        line-height: 90px;
    }
    .questionPage h2 {
        font-size: 40px;
        line-height: 50px;
    }
    .resultContainer .image3 {
        display: none;
    }
    .resultText {
        width: 80%;
        padding-right: 0;
    }
    .resultText .instructions {
        padding-right: 0;
    }
}